
.about-container{
    margin: 1.5em;
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 0.5em;
}

.about-container div {
    margin-bottom: 0.5em;
    
}

.about-container .about-container__header {
  font-size: 2em;
  text-align: center;
  font-family: 'Hallandale';
  
  width: 100%;
  background-color: var(--dark-charcoal);
  color: var(--bright-gray);
}

.about-container .about-container__content div {
    border-bottom: var(--gray) solid 1px;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    margin-bottom: 0.5em;
}


.about-container__content__text__first-letter{
    font-size: 2em;
    font-family: 'The Bjorke';
    color: var(--dark-charcoal);
    margin:0;
    padding:0;
}