.contacts {
    border-top: 1px solid var(--gray);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em;
    margin: 0.5em;
    font-family: 'Hallandale';
}

.contacts .contact-item a{
    display: inline-block;
    transform: scale(0.8, 1.8);
    padding: 0.5em;

}

@media screen and (min-width: 768px) {
    .contacts {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 6;
        grid-row-end: 7;
    }
}
    
