.App-header{
    display: flex;
    width: 100%;
    font-family: 'The Bjorke';
    align-items: center;
    justify-content: center;
    padding: 0.3em;
    border-bottom: 1px solid var(--gray);
    font-size: 1.5em;
    margin:0;
    margin-top: 0.5em;
  }

  /* tablet view */
  @media (min-width: 768px) {
    .App-header{
      font-size: 2em;
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
    }
  }