.hero-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2em;
  margin: 1em;
  font-size: 1em;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  
}

.hero-info .hero-info__subheader{
  width: 100%;
  word-break: break-word;
  font-size: 2em;
  line-height:0.9;
  font-family: 'Hallandale';
  color: var(--dark-charcoal);
  margin-bottom: 0.5em;
  border-bottom: var(--gray) solid 1px;
  padding-bottom: 0.2em;
}

.hero-info .hero-info__subheader:last-child{
  margin-bottom: 0;
  color: var(--silver);
  border-bottom: none;
  padding-bottom: 0;
  font-size: 1em;
}