.hero-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2em;
  margin: 1em;
  font-size: 1em;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  
}

.hero-info .hero-info__subheader{
  width: 100%;
  word-break: break-word;
  font-size: 2em;
  line-height:0.9;
  font-family: 'Hallandale';
  color: var(--dark-charcoal);
  margin-bottom: 0.5em;
  border-bottom: var(--silver) solid 1px;
  padding-bottom: 0.2em;
}

.hero-info .hero-info__subheader:last-child{
  margin-bottom: 0;
  color: var(--gray);
  border-bottom: none;
  padding-bottom: 0;
  font-size: 1em;
}

@media only screen and (min-width: 768px) {
  .hero-info {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    padding-top: 0;
  }
}

@media screen and (min-width: 1024px) {
  .hero-info {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    padding-top: 0;
    margin-top: 0;
  }
  .hero-info .hero-info__subheader:last-child{
    column-count: 2;
    line-height: 1.2;
    font-size: 1.8em;
  }
}
  
