.skills-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
    margin-bottom: 0;
    border-bottom: 1px solid var(--gray);
}

.skills-container div {
   margin-bottom: 0.5em;
}

/* .skills-container div:last-child {
    margin-bottom: 0;
 } */


.skills-container .skills-container__header {
    font-size: 2em;
  text-align: center;
  font-family: 'Hallandale';

 width: 100%;
  background-color: var(--dark-charcoal);
  color: var(--bright-gray);
}

.skills-container__icons-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    font-family: 'Editorial New Regular';
}

.skills-container__icons-container__icon-container{
    width: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: left;
}

.skills-container__icons-container__icon-container div {
    margin-left: 0.5em;
}
.skills-container__icons-container__icon-container .icon {
    color: var(--gray);
}