@font-face {
    font-family: 'Editorial New Regular';
    src: local("Editorial New Regular"),
    url('./fonts/PPEditorialNew-Regular.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Editorial New Ultralight';
    src: local("Editorial New Ultralight"),
    url('./fonts/PPEditorialNew-Ultralight.otf') format('opentype');
  }
  
  @font-face{
    font-family: 'The Bjorke';
    src: local("The Bjorke"),
    url('./fonts/The-Bjorke.ttf') format('opentype');
  }
  
  @font-face{
    font-family:'Hallandale';
    src:local('Hallandale'),
    url('./fonts/HallandaleDeco.ttf') format('truetype');
  }

  :root{
    --bright-gray: #EEEEEE;
    --light-gray: #DDDDDD;
    --silver: #CCCCCC;
    --gray: #BBBBBB;
    --dark-charcoal: #333333;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  #root, #__next {
    isolation: isolate;
  }
  
  html {
    background-color:var(--bright-gray);
    background-blend-mode: overlay;
    background-size: cover;
    height: 100%;
    font-family: 'Editorial New Ultralight';
    color: var(--dark-charcoal);
  }
  
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }

  @media only screen and (min-width: 768px) {
    .App{
      max-height: 100vh;
      display:grid;
      align-items: start;
      grid-template-rows: auto 300px 1fr 1fr 1fr 1fr auto;
      grid-template-columns: 1fr 1fr 1fr;
      
    }
  }

  @media only screen and (min-width: 1024px){
    .App {
      grid-template-columns: 1fr 2fr 1fr 1fr;
      grid-template-rows:  auto 300px auto auto auto auto auto;
    }
  }

  @media screen and (min-width: 1400px) {
    .App {
      margin:0 10%;
      grid-template-columns: 1fr 2fr 1fr 1fr;
      grid-template-rows:  auto 300px auto auto auto auto auto;
    }
  }

  @media screen and (min-width: 1600px) {
    .App {
      margin:0 20%;
    }
  }
    
    
  
    
  
  
  
  
  