@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-image:url('./tablet-background.jpg');
    background-color:rgb(230, 214, 196);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;

    /* background: rgb(245, 245, 245); */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: hsla(43, 100%, 49%, 1);
}

a:hover {
    color: hsla(0, 0%, 0%, 0.69);
    border-bottom: hsla(43, 100%, 49%, 1) solid 1px;
}

.App-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: hsla(0, 0%, 0%, 0.69);
    font-size: 3em;
    margin: 1em;
    margin-top: 2em;
}

.App-header .App-title .App-title-name {
    color:hsla(43, 100%, 49%, 1);
}


.navbar {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 2em;
    font-size: 1.5em;
}

.navbar ul {
    list-style-type: none;
}


a.active {
   color: hsla(0, 0%, 0%, 0.69);
   border-bottom: hsla(43, 100%, 49%, 1) solid 1px;
}

.about {
    font-family: 'droid-sans', sans-serif;
    margin: 1em;
    padding: 1em;
   
}
.about h2 {
    font-size: 2em;
    font-weight: 600;
    margin-left: .5em;
    margin-bottom: 1em;
    color: hsla(0, 0%, 0%, 0.69);
}

.about p {
    margin-left: 1em;
    overflow-wrap: break-word;
}

.about-icons-header{
    margin-left: 1em;
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 600;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    color: hsla(0, 0%, 0%, 0.89);
    background-color: hsla(43, 100%, 49%, 0.69);
}

.about-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    padding-bottom: 1em;
    font-size: 1em;
    flex-wrap: wrap;
    border-bottom: hsla(43, 100%, 49%, 0.69) solid 0.5em;
}

.about-icon {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    
}

.about-icon .icon {
    font-size: 1.5em;
}

.about-icon div {
    margin-left: 0.5em;
    font-size: 1em;
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: right;
    flex-direction: column;
    /* margin: 2em; */
    font-family: 'droid-sans', sans-serif;
    margin:1em;
    padding: 1em;
    height: 100%;
}

.projects-container__title {
    font-size: 2em;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-left: 0.5em;
    margin-bottom: 1em;
    color: hsla(0, 0%, 0%, 0.69);
    font-family: 'droid-sans', sans-serif;
}

.project{
    margin-bottom: 1em;
    padding: 1em;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1em;
    margin-top: auto;
    margin-bottom: 2em;
}

.footer .footer__icon {
    color: hsla(43, 100%, 49%, 1);
    font-size: 2em;
}

.footer .footer__icon:hover {
    color: hsla(0, 0%, 0%, 0.69);
}

.about__icon:hover {
    color: hsla(43, 100%, 49%, 1);
}

.project__name {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 1em;
    color: hsla(0, 0%, 0%, 0.69);
    text-decoration: underline;
    text-decoration-color: hsla(43, 100%, 49%, 1);
}

.project__image {
    height: auto;
    margin-bottom: 1em;
}

.project__image img {
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 6px 7px 13px -1px rgba(0,0,0,0.69); 
    box-shadow: 6px 7px 13px -1px rgba(0,0,0,0.20);
    border-radius: 2px;
}

.projects .project .project__image a:hover{
    text-decoration: none;
}

/* tablet view */
@media screen and (min-width: 768px){
    .App-header {
        font-size: 4em;
        max-width: 50%;
    }
    .navbar {
        font-size: 2em;
    }
    .navbar__list{
        display: flex;
        justify-content: space-around;
    }

    .about {
        font-size: 1em;
        margin-bottom: 3em;
    }

    .about h2 {
        font-size: 2em;
    }

    .about p {
        font-size: 1.5em;
    }

    .footer .footer__icon {
        font-size: 3em;
    }

    .projects-container{
        font-size: 1em;
    }

    .projects {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .project {
        width: 50%;
    }
}

/* desktop view */
@media screen and (min-width: 1024px){


}